/* Smartphones */
@media (min-width: 320px) {
  .profilePageContent {
    height: 100vh;
    width: 100%;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loadingUserPic {
    width: 100px;
    border: 4px solid #888888;
    border-radius: 50%;
  }

  .loadingName {
    height: 30px;
    width: 150px;
    border-radius: 40px;
  }

  .loadingUserConnect {
    height: 50px;
    margin-top: 10px;
    width: 160px;

    border-radius: 10px;
  }

  .requestedUserIntro {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }

  .requestedUserName {
    font-size: 20px;
    font-weight: bold;
  }

  .editProfile {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    margin-top: 10px;
  }

  .editProfileBtn {
    padding: 10px 15px;

    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    font-family: "Lato Black";
    font-size: 20px;
    text-align: center;
  }
}

/* Tablets */
@media (min-width: 425px) {
  .loadingUserPic {
    width: 125px;
    border: 4px solid #888888;
    border-radius: 50%;
  }

  .loadingName {
    height: 40px;
    width: 200px;
    border-radius: 40px;
  }

  .requestedUserName {
    font-size: 30px;
  }

  .editConnectBtn {
    padding: 10px 20px;

    font-family: "Lato Black";
    font-size: 20px;
    text-align: center;
  }
}

/* Large tablets */
@media (min-width: 768px) {
  .profilePageContent {
    overflow: auto;
  }

  .loading {
    align-items: start;
  }

  .loadingUserPic {
    width: 150px;
  }

  .loadingName {
    height: 60px;
    width: 300px;
  }

  .loadingUserConnect {
    height: 55px;
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;

    border-radius: 10px;
  }

  .requestedUserIntro {
    gap: 20px;
    justify-content: unset;
    margin-top: 50px;
    padding-left: 20px;
  }

  .requestedUserName {
    font-size: 40px;
  }

  .editProfile {
    justify-content: unset;
    margin-left: 20px;
    margin-top: 20px;
  }

  .editProfileBtn:hover {
    background-color: var(--hover);
    cursor: pointer;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
  .loadingUserConnect {
    margin-left: 50px;
  }

  .requestedUserIntro {
    gap: 30px;
    padding-left: 50px;
  }

  .editProfile {
    justify-content: unset;
    margin-left: 50px;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
}
