/* Smartphones */
@media (min-width: 320px) {
  .uploadImageWindow {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 1000;

    background-color: #3a3d42;
    border: 3px solid rgb(231, 231, 231);
    border-radius: 20px;
  }

  input[type="file"] {
    display: none;
  }

  .imageUploadPrompt {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;

    background-color: rgb(165, 165, 165);
    border: 3px dashed var(--white);
    font-size: 25px;
    text-align: center;
  }

  .cancelUploadBtn {
    padding: 10px;
    width: 150px;

    background-color: var(--dangerRed);
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .uploadImageWindow {
    width: 50%;
    left: 25%;
  }

  .imageUploadPrompt:hover {
    cursor: pointer;
    background-color: rgb(116, 116, 116);
  }

  .cancelUploadBtn:hover {
    cursor: pointer;
    background-color: var(--redButtonHover);
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
