/* Smartphones */
@media (min-width: 320px) {
  .mainSite {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: var(--default);
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .mainSite {
    flex-direction: unset;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
