/* Smartphones */
@media (min-width: 320px) {
  .connectComponent {
    display: flex;
    column-gap: 15px;
  }

  .connectComponentBtn {
    padding: 10px;

    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(165, 165, 165);
    font-family: "Lato Black";
    text-align: center;
  }

  .sendMessageBtn {
    background-color: var(--socialGold);
    border: 2px solid rgb(236, 228, 192);
  }

  .addFriendBtn {
    background-color: var(--confirmGreen);
    border: 2px solid rgb(128, 190, 128);
  }

  .removeFriendBtn {
    background-color: var(--dangerRed);
    border: 2px solid rgb(231, 54, 54);
  }

  .requestSentBtn,
  .requestReceivedBtn {
    background-color: grey;
    border: 2px solid rgb(199, 199, 199);
  }

  .requestResponse {
    position: relative;
  }

  .dialogueBanner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    color: rgb(49, 49, 49);
    font-weight: bold;
  }

  .successBanner {
    background-color: rgba(85, 185, 85, 0.788);
  }

  .neutralBanner {
    background-color: grey;
  }

  .responseOptionsMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 20px;

    background-color: grey;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    box-shadow: 3px 3px 6px grey;
  }

  .optionBtn {
    padding: 5px 20px;

    background-color: var(--socialGold);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .dialogueBanner {
    padding: 15px;
  }

  .bannerMsg {
    font-size: 20px;
  }

  /* button transformations on hover */
  .connectComponentBtn:hover,
  .optionBtn:hover,
  .closeBanner:hover {
    background-color: var(--white);
    cursor: pointer;
  }

  .closeBanner:hover {
    border-radius: 10px;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
