/* Smartphones */
@media (min-width: 320px) {
  .friendsView {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    padding: 0 2%;
    padding-bottom: 10px;
    position: relative;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.25);
  }

  .friendsViewHeader {
    text-align: center;
  }

  .searchForm {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }

  .searchForm input:focus {
    outline: 3px solid #8e97aa;
  }

  .friendSearch {
    padding: 5px 10px;
    width: 80%;

    border-radius: 10px;
    font-size: 20px;
  }

  .submit {
    width: 100px;

    border-radius: 10px;
  }

  .friendsViewTitle {
    font-size: 30px;
    font-weight: bold;
  }

  .loadingMsg,
  .noFriendsMsg {
    font-size: 20px;
  }

  .friendList {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .listedFriend {
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 5px 10px;
    position: relative;
    margin: 0 10px;
    width: 100%;

    background-color: var(--hover);
    border: 2px solid var(--borderWhite);
    border-radius: 10px;
  }

  .friendPic {
    width: 60px;
    border: 2px solid #747474b2;
    border-radius: 50%;
  }

  .friendName {
    font-size: 20px;
  }
}

/* Tablets */
@media (min-width: 425px) {
  .friendsView {
    margin-top: 15px;
  }

  .searchForm {
    margin-bottom: 10px;
    width: 300px;
  }
}

/* Large tablets */
@media (min-width: 768px) {
  .loadingMsg,
  .noFriendsMsg {
    font-size: 30px;
  }

  .submit:hover {
    cursor: pointer;
    background-color: rgb(177, 177, 177);
  }

  .submit:active {
    background-color: var(--hover);
  }

  .listedFriend:hover {
    cursor: pointer;
    background-color: var(--default);
  }

  .searchForm {
    width: 500px;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
  .friendList {
    column-gap: 30px;
    columns: 2;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }

  .listedFriend {
    width: 300px;
  }

  .friendPic {
    width: 100px;
  }

  .friendName {
    font-size: 18px;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
  .friendSearch {
    width: 400px;
  }
}
