/* Smartphones */
@media (min-width: 320px) {
  .friendsView {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 2%;
    position: relative;
  }

  .searchForm {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    width: 90%;
  }

  .searchForm input:focus {
    outline: 3px solid #8e97aa;
  }

  .friendSearch {
    padding: 12px;
    width: 80%;

    border-radius: 10px;
    font-size: 20px;
  }

  .submit {
    width: 100px;

    border-radius: 10px;
  }

  .loadingMsg,
  .noFriendsMsg {
    font-size: 20px;
  }

  .friendList {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }

  .listedFriend {
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 10px;
    position: relative;
    margin: 0 10px;
    width: 100%;

    background-color: var(--hover);
    border: 2px solid var(--borderWhite);
    border-radius: 10px;
  }

  .friendPic {
    width: 70px;
    border: 2px solid #747474b2;
    border-radius: 50%;
  }

  .friendName {
    font-family: "Lato Black";
    font-size: 20px;
  }
}

/* Tablets */
@media (min-width: 425px) {
  .friendsView {
    margin-top: 15px;
  }

  .searchForm {
    margin-bottom: 15px;
  }
}

/* Large tablets */
@media (min-width: 768px) {
  .loadingMsg,
  .noFriendsMsg {
    font-size: 30px;
  }

  .submit:hover {
    cursor: pointer;
    background-color: rgb(177, 177, 177);
  }

  .submit:active {
    background-color: var(--hover);
  }

  .listedFriend:hover {
    cursor: pointer;
    background-color: var(--default);
  }
}

/* Large screens*/
@media (min-width: 1024px) {
  .friendList {
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    column-gap: 30px;
    columns: 2;
    flex-wrap: wrap;
  }

  .listedFriend {
    width: 43%;
  }

  .friendPic {
    width: 100px;
  }

  .friendName {
    font-size: 18px;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
  .friendSearch {
    width: 400px;
  }
}
