/* Smartphones */
@media (min-width: 320px) {
  .userInfoView {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
}

/* Large screens*/
@media (min-width: 1024px) {
  .userInfoView {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
}
