/* Smartphones */
@media (min-width: 320px) {
  .mobileSearch {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    position: relative;

    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid var(--hover);
    border-radius: 20px;
  }

  .searchPageHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }

  .searchFormTitle,
  .resultPageTitle {
    font-size: 25px;
    font-weight: bold;
  }

  .searchPageForm {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 60%;
  }

  .searchFormInput,
  .searchFormSubmit {
    height: 40px;
    border: none;
    border-radius: 10px;
  }

  .searchFormInput {
    padding: 10px;
  }

  .searchFormSubmit {
    background-color: var(--button);
    color: white;
    font-weight: bold;
  }

  .resultPageHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .backButton {
    padding: 8px;
    text-align: center;

    background-color: var(--hover);
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    font-size: 15px;
  }

  .resultList {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0 20px;
    gap: 20px;
  }

  .listedUser {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userPic {
    width: 100px;
  }

  .userName {
    font-size: 18px;
  }
}

/* Tablets */
@media (min-width: 425px) {
  .userPic {
    width: 125px;
  }
}
