@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Smartphones */
@media (min-width: 320px) {
  .profilePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .profileContent {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 2%;
    position: relative;

    background-color: var(--white);
  }

  /*--------------- 1. USER INFO ---------------*/

  .profileUserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
  }

  /*--------------- 1A. PROFILE PIC AND OPTIONS ---------------*/

  .profilePicAndOptionsMenu {
    border-radius: 50%;
  }

  .profileUserProfilePic {
    width: 125px;
    border: 4px solid #888888;
    border-radius: 50%;
  }

  .profilePicOptions {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-left: -55px;
    margin-top: 10px;
    padding: 10px;
    position: absolute;

    background-color: var(--socialBlue);
    border-radius: 10px;
  }

  .picOption {
    display: flex;
    column-gap: 12px;
    padding: 10px;

    background-color: var(--socialGold);
    font-size: 17px;
    font-weight: bold;
  }

  .deletePicOption {
    background-color: var(--dangerRed);
  }

  /*--------------- 1A. END PROFILE PIC AND OPTIONS ---------------*/
  /*--------------- 1B. PROFILE USERNAME ---------------*/

  .loadingName {
    height: 50px;
    width: 300px;
  }

  .profileUserName {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  /*--------------- 1B. END PROFILE USERNAME ---------------*/
  /*--------------- 1. END USER INFO ---------------*/

  /*--------------- 2. ERROR WINDOW ---------------*/

  .errorBanner {
    padding: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    background-color: rgba(231, 54, 54, 0.822);
    font-weight: bold;
    text-align: center;
  }

  .errorBannerMsg {
    color: var(--socialBlue);
    font-size: 20px;
    text-align: center;
  }

  /*--------------- 2. END ERROR WINDOW ---------------*/

  /*--------------- 3. IMAGE UPLOAD WINDOW ---------------*/

  .uploadImageWindow {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    width: 100%;

    animation: fadeInAnimation ease 0.2s;
    animation-fill-mode: forwards;
    background-color: var(--socialGold);
    border: 2px solid var(--socialBlue);
    border-radius: 20px;
  }

  input[type="file"] {
    display: none;
  }

  .imageUploadPrompt {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;

    background-color: rgb(165, 165, 165);
    border: 2px dashed var(--socialBlue);
    color: var(--socialBlue);
    font-size: 25px;
    text-align: center;
  }

  .cancelUploadBtn {
    padding: 10px;
    width: 150px;

    background-color: var(--dangerRed);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  /*--------------- 3. END IMAGE UPLOAD WINDOW ---------------*/

  /*--------------- 4. CROP AND SAVE PIC WINDOW ---------------*/

  .cropAndSavePicWindow {
    position: absolute;
    top: 0;

    background-color: var(--socialGold);
  }

  .cropperContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 96vw;
    height: 50vh;
  }

  .cropper {
    height: 90%;
    position: relative;
    background-color: var(--socialGold);
  }

  .cropandSavePicWindowBtns {
    column-gap: 30px;
    display: flex;
    justify-content: center;

    text-align: center;
  }

  .cropandSavePicWindowBtn {
    padding: 5px;

    font-size: 20px;
    font-weight: bold;
    width: 50%;
  }

  .saveCropBtn,
  .confirmDeleteBtn {
    background-color: var(--confirmGreen);
  }

  .cancelCropBtn,
  .cancelDeleteBtn {
    background-color: var(--dangerRed);
  }

  .loadingWindow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;

    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 20px;
  }

  /*--------------- 4. END CROP AND SAVE PIC WINDOW ---------------*/

  /*--------------- 5. DELETE CONFIRMATION WINDOW ---------------*/

  .deleteConfWindow {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    position: absolute;
    width: 100%;

    animation: fadeInAnimation ease 0.2s;
    animation-fill-mode: forwards;
    background-color: var(--socialGold);
    border: 2px solid var(--socialBlue);
    border-radius: 20px;
  }

  .deleteConfMsg {
    font-size: 20px;
    font-weight: bold;
  }

  .deleteConfWindowBtns {
    column-gap: 30px;
    display: flex;
    width: 250px;
    justify-content: center;

    text-align: center;
  }

  .deleteConfWindowBtn {
    padding: 10px;

    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
  }

  /*--------------- 5. END DELETE CONFIRMATION WINDOW ---------------*/

  /*--------------- 6. CONNECT COMPONENT ---------------*/

  .connectComponent {
    display: flex;
    column-gap: 15px;
  }

  .connectComponentBtn {
    padding: 10px;

    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(165, 165, 165);
    font-family: "Lato Black";
  }

  .sendMessageBtn {
    background-color: var(--socialGold);
  }

  .addFriendBtn {
    background-color: var(--confirmGreen);
  }

  .requestSentBtn {
    background-color: grey;
    color: rgb(199, 199, 199);
    border: 2px solid grey;
    box-shadow: none;
  }

  .requestReceivedBtn {
    background-color: rgb(228, 228, 0);
  }

  .removeFriendBtn {
    background-color: var(--dangerRed);
  }

  .connectBanner {
    padding: 8px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    font-weight: bold;
    text-align: center;
  }

  .requestSuccessMsg {
    background-color: rgba(85, 185, 85, 0.788);
  }

  /*--------------- 6. END CONNECT COMPONENT ---------------*/
}

/* Tablets */
@media (min-width: 425px) {
  .cropandSavePicWindowBtn {
    width: 150px;
  }
}

/* Large tablets */
@media (min-width: 768px) {
  .profilePage {
    flex-direction: row;
  }

  .profileContent {
    align-items: unset;
    gap: 30px;
    padding: 3%;
  }

  .profileUserInfo {
    flex-direction: unset;
    align-items: center;
  }

  .profileUserProfilePic {
    width: 200px;
  }

  .profilePicOptions {
    margin-left: unset;
  }

  .loadingName {
    width: 50%;
  }

  .profileUserName {
    font-family: "Lato Black";
    font-size: 45px;
    margin-left: 10px;
  }

  .errorBanner {
    padding: 15px;
  }

  .connectBanner {
    padding: 15px;
  }

  .requestSuccessMsg {
    font-size: 20px;
  }

  /* "width: 70vw" for popup windows */
  .uploadImageWindow,
  .cropperContainer,
  .deleteConfWindow {
    width: 70vw;
  }

  /* button transformations on hover */
  .picOption:hover,
  .errorWindowCloseBtn:hover,
  .cancelUploadBtn:hover,
  .cropandSavePicWindowBtn:hover,
  .connectComponentBtn:hover {
    background-color: var(--white);
    cursor: pointer;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
  .uploadImageWindow,
  .cropperContainer,
  .deleteConfWindow {
    width: 75vw;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
}
