/* Smartphones */
@media (min-width: 320px) {
  .errorBanner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    background-color: rgba(231, 54, 54, 0.89);
    color: rgb(20, 20, 20);
    font-weight: bold;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .errorBanner {
    padding: 15px;
  }

  .errorMsg {
    font-size: 20px;
  }

  .closeErrorBanner:hover {
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
