/* Smartphones */
@media (min-width: 320px) {
  .homePageBody {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contentContainer {
    flex: 1;
    overflow: auto;
    padding: 2%;
    background-color: #eeebdd85;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .homePageBody {
    flex-direction: row;
  }

  .contentContainer {
    padding: 3%;
    border: 1px solid black;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
