/* Large tablets */
@media (min-width: 768px) {
  .lsIconsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .navTab {
    display: flex;

    align-items: center;
    column-gap: 20px;
    padding: 10px;
    padding-left: 20px;
    width: 90%;

    background: var(--white);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .navTab:hover {
    background-color: var(--socialBlue);
    color: var(--white);
    cursor: pointer;
  }

  .lsCurrentComponent {
    background-color: var(--socialBlue);
    color: var(--white);
    font-weight: bold;
  }

  .lsCurrentComponent:hover {
    color: black;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
  .navTab {
    font-size: 18px;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
  .navTab {
    padding-left: 30px;
  }
}
