/* Smartphones */
@media (min-width: 320px) {
  .mobileIconsContainer {
    display: flex;
  }

  .mobileNavTab {
    padding: 5px;
    width: 20%;

    background-color: rgba(214, 190, 92, 0.774);
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    color: #272838;
    text-align: center;
  }

  .currentComp {
    background-color: white;
    border-bottom: 2px solid #272838;
  }

  .largeHideable {
    display: none;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
