@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Smartphones */
@media (min-width: 320px) {
  .profileViewContents {
    position: relative;
  }

  .profileUserInfo {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    position: relative;
  }

  .profilePic {
    width: 150px;
    border: 4px solid #747474b2;
    border-radius: 50%;
  }

  .profilePic:hover {
    cursor: pointer;
  }

  /* Profile Pic Options */

  .profilePicOptions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 160px;

    background-color: #272838;
    border-radius: 10px;
  }

  .picOption {
    display: flex;
    column-gap: 12px;
    padding: 10px;

    background-color: #f3de8ade;
    font-size: 17px;
    font-weight: bold;
  }

  .deletePicPrompt {
    background-color: rgba(223, 0, 0, 0.87);
  }

  /* Upload Profile Pic Modal */

  .uploadProfilePicModal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 50vh;
    position: absolute;
    top: 0;
    width: 100%;

    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
    background-color: rgb(235, 226, 192);
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
  }

  input[type="file"] {
    display: none;
  }

  .picUploadPrompt {
    font-size: 25px;
    text-align: center;
    background-color: rgb(238, 223, 162);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px black;
  }

  /* Crop Pic And Save Modal  */

  .imageModal {
    position: absolute;
    top: 0;
    height: 100vh;

    background-color: transparent;
  }

  .cropperContainer {
    width: 96vw;
    height: 50vh;
  }

  .cropper {
    height: 90%;
    position: relative;
  }

  .modalBtns {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 10px;
    width: 100%;

    text-align: center;
  }

  .modalBtn {
    border-radius: 10px;
    box-shadow: 3px 3px 6px grey;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .saveBtn {
    background-color: rgb(74, 184, 74);
  }

  .cancelBtn {
    background-color: rgb(235, 4, 4);
  }

  .loadingModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;

    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 20px;
  }

  .profileUserName {
    font-size: 25px;
    font-weight: bold;
  }
}

/* Tablets */
@media (min-width: 425px) {
  .picUploadPrompt {
    font-size: 30px;
  }

  .cropperContainer {
    width: 94vw;
  }

  .profileUserName {
    font-size: 30px;
  }
}

/* Large tablets */
@media (min-width: 768px) {
  .picOption:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
  }

  .picUploadPrompt:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
  }

  .cropperContainer {
    width: 68vw;
  }

  .profileUserInfo {
    justify-content: start;
  }

  .modalBtn:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
  }

  .profileUserName {
    font-size: 40px;
    font-weight: bold;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
  .cropperContainer {
    width: 73vw;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
}
