/* Large tablets */
@media (min-width: 768px) {
  .largeNavMenuBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .appUserInfo {
    align-items: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .appUserInfo:hover {
    background-color: var(--hover);
    cursor: pointer;
  }

  .appUserPic {
    width: 150px !important;
    border: 4px solid #747474b2;
    border-radius: 50%;
  }

  .appUserName {
    font-size: 20px;
    font-weight: bold;
  }

  .navLinks {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navLink {
    display: flex;

    align-items: center;
    column-gap: 20px;
    padding: 20px;
    width: 100%;

    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .navLink:hover {
    background-color: var(--hover);
    cursor: pointer;
  }

  .currentView {
    background-color: var(--hover);
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
