/* Smartphones */
@media (min-width: 320px) {
  .branding {
    margin-top: 10px;
  }

  .navigationContainerBody {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: var(--default);
    border-bottom: 1px solid var(--white);
    color: var(--white);
  }

  .callToActionMsg,
  .callToActionBtn {
    font-size: 20px;
  }

  .callToActionMsg {
    margin: 5px 0;
    text-align: center;
  }

  .callToActionBtns {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 5px 0;

    text-align: center;
  }

  .callToActionBtn {
    padding: 10px;
    width: 150px;

    background-color: var(--button);
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .navigationContainerBody {
    align-items: center;
    gap: 20px;
    width: 300px;

    border-bottom: unset;
    border-right: 1px solid var(--white);
  }

  .largeNavMenuContainer {
    display: flex;
    justify-content: center;
  }

  .callToActionBtns {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .callToActionBtn {
    width: 75%;
    font-size: 20px;
  }

  .callToActionBtn:hover {
    cursor: pointer;
    background-color: var(--buttonHover);
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
