/* Smartphones */
@media (min-width: 320px) {
  .authSite {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: var(--default);
    color: var(--white);
  }

  .contentSection {
    position: relative;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .authSite {
    flex-direction: unset;
  }

  .contentSection {
    position: relative;
    width: 100vw;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
