/* Smartphones */
@media (min-width: 320px) {
  .profilePicOptions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    position: absolute;

    background-color: #283044;
    border: 1px solid var(--borderWhite);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #181b24;
  }

  .picOption {
    display: flex;
    column-gap: 12px;

    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .picOption:hover {
    cursor: pointer;
    background-color: var(--hover);
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
