@font-face {
  font-family: Lato;
  src: url(../public/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato Black";
  src: url(../public/assets//fonts//Lato-Black.ttf);
}

:root {
  --button: rgb(133, 125, 18);
  --buttonHover: rgb(95, 89, 18);
  --redButtonHover: rgb(189, 29, 29);
  --greenButtonHover: rgb(60, 129, 60);
  --default: #283044;
  --hover: #3b4764;
  --dangerRed: rgb(224, 74, 74);
  --confirmGreen: rgb(97, 175, 97);
  --white: rgb(250, 250, 250);
}

/* Smartphones */
@media (min-width: 320px) {
  .hideOnMobile {
    display: none;
  }
}

/* Tablets */
@media (min-width: 425px) {
}

/* Large tablets */
@media (min-width: 768px) {
  .hideOnLarge {
    display: none;
  }

  .hideOnMobile {
    display: unset;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
