@font-face {
  font-family: Lato;
  src: url(../public/assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato Black";
  src: url(../public/assets//fonts//Lato-Black.ttf);
}

:root {
  --button: rgb(133, 125, 18);
  --buttonHover: rgb(95, 89, 18);
  --redButtonHover: rgb(189, 29, 29);
  --greenButtonHover: rgb(60, 129, 60);
  --default: #283044;
  --hover: #3b4764;
  --dangerRed: rgb(224, 74, 74);
  --confirmGreen: rgb(97, 175, 97);
  --borderWhite: rgb(216, 216, 216);
}

body {
  background-color: var(--default);
  color: white;
  font-family: Lato;
}

/* Smartphones */
@media (min-width: 320px) {
  .branding {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .authUserPageBody,
  .publicPageBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

/* Tablets */
@media (min-width: 425px) {
  .branding {
    font-size: 40px;
  }
}

/* Large tablets */
@media (min-width: 768px) {
  .authUserPageBody,
  .publicPageBody {
    flex-direction: unset;
  }
}

/* Large screens*/
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
